#createroom {
  background-color: #f5f6f8;
  border: 2px solid #fff;
  border-left: 5px solid #fff;

  .card {
    margin: 1rem 0 1rem 0;
  }

  .btn.btn-success i {
    font-size: initial;
  }

  .dropdown  {
    width: 100% !important;
  }
}